<!-- Content area start -->
<div class="content-area" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Main title -->
                        <div class="main-title">
                            <h1><span>Upload Course Now</span></h1>
                        </div>
                        <p class="message" style="color: red"  ng-show="message"> {{ message }} <span>
                            
                        <!-- Form start -->
                        <form name="myform" role="form" novalidate>
                            <input type="file" class="form-control" name="image" file-model="myFile" required>
                            
                            <div class="form-group">
                                <input type="text" name="intro" class="input-text" placeholder="introduction text"
                                        ng-model="attachment.intro" ng-required="true">
                                <p class="error validationerror"
                                ng-show="myform.intro.$invalid && myform.intro.$touched">
                                please provide a valid intro</p>
                            </div>
                            <button class="submit btn btn-danger" type="submit" ng-click="uploadFile(attachment)"> Create  </button>

                        </form>    
                        <!-- Form end -->
                    </div>

                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Content area end -->