<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="footer-item recent-posts">
        <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href >{{cr.title}}</a>
                </h3>
                <p>{{cr.start}}</p>
                <div class="comments-icon">
                    <i class="fa fa-comments"></i>{{cr.comment}}
                </div>
            </div>
        </div> 
    </div>
