<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Course Details</h1>
                <ul class="breadcrumbs">
                    <li><a href >Training</a></li>
                    <li class="active">HSE (Safety Courses)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sub Banner end -->
<!-- About Institute start -->
<div class="about-institute">
    <div class="container">
        <div class="row">          
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3>Basic Rig Training (Roustabout/Rig Helper)</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>288 Aba Road, Port Harcourt
                        </p>
                    </div>
                    <div class="pull-right">
                        <h3><span>Item Rating</span></h3>
                        <ul class="rating">
                            <li>
                                <i class="fa fa-star-half-full"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Heading courses end -->
                <div class="about-text">
                    <!-- title -->
                    

                    <!-- paragraph -->
                    <h3>Overview</h3>
                    <p> <b>Course Objectives:</b></p>

                    <p>
                       Roustabout is typically an entry-level position in the oil and gas rig which does not require a specialized certificate or profession. General duties include but not limited to: loading and offloading boats, assisting the crane operator in moving equipment around the rig and assisting all other crew members as needed. A large part of the Roustabout's work load consists of cleaning and general maintenance of the rig etc.

                       They frequently turn out to be long-term employees and take on more difficult and sometimes dangerous jobs as they gain experience.
                       Basic Rig Training (Roustabout/Rig Helper) course has been designed to prepare students to undertake roustabout duties and job responsibility in the onshore and offshore oil & gas rig. You will be trained on the practical and the theoretical path and challenges and also how to immediately start to apply your technical knowledge to live projects in the industry.
                    </p>
                    <p>
                        During training, students are exposed to true knowledge of basic rig activities, the exact task required by a roustabout and their safety. This course is taught using state-of-the-art training materials, allowing for realistic training in a controlled environment.
                    </p>
                    <p><b>Chances of employment after the training</b></p>
                    <p>
                        Student who acquire this certificate has greater chances of securing rig job in any oil and gas drilling company here in Nigeria and abroad because Roustabouts otherwise known as Rig Helpers constitute the highest number of workers in any rig platform.
                    </p>
                    <p>
                        Our resent survey proved that 83% of those who study this course with us are already working with their certificates (30% secured their job from their personal contacts while 53% got their job through the help of our manpower outsourcing and supply services).
                    </p>
                    <p><b>Companies that values this certificate</b></p>
                    <p>
                        Nebors Drilling International, Transocian, Addax Petroleum, Backer Hugges, Petrolog, Lonestar, Hallmark Global Petroleum, Seadrill, Northern Oil Field among others.
                    </p>
                    
                    
                    <p><b>Training and Learning Methods:</b></p>
                    <p>
                        Training will be delivered in our Lagos and Port Harcourt training facilities by a team of staff and consultants made up of highly trained and seasoned certified professionals with many years of field experience in oil and gas rig operation

                        This course comprises of theory and practical section.
                    </p>
                    <p><b>Assessment Methods:</b></p>
                    <p>
                      Examination will be written under clocked supervised conditions. Daily continues assessment will be taken during the training

                    </p>
                    <p><b>Course Duration:</b></p>
                    <p>3 Days</p>
                    <p><b>Minimum Entry Requirement:</b></p>
                    <p>
                        SSSCE and above, at least General HSE or equivalent certificate. 
                    </p>
                    <p><b>Certification:</b></p>
                    <p>
                       
                    IADC recognized Roustabout/Rig Helper certificate will be issued by Deslog Energy Services Limited in collaboration with Greatwall Drilling Company, Abu Dhabi.
                    </p>
                    <h3>Course Outlines</h3>
                    <p><b>The course syllabus consists of the following topics (sub-courses):</b></p>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>Introduction</li>
                        <li><i class="fa fa-angle-right"></i>Manual handling</li>
                        <li><i class="fa fa-angle-right"></i>The Roustabout and the Crane</li>
                        <li><i class="fa fa-angle-right"></i>The principles of working in a confined space</li>
                        <li><i class="fa fa-angle-right"></i>The principles of working at a height</li>
                        <li><i class="fa fa-angle-right"></i>Onshore and offshore rig</li>
                        <li><i class="fa fa-angle-right"></i>Rig Move procedures and Safety</li>
                        <li><i class="fa fa-angle-right"></i>House Keeping</li>
                        <li><i class="fa fa-angle-right"></i>Chemical Safety</li>
                        <li><i class="fa fa-angle-right"></i>Dropped Objects Prevention Scheme</li>
                        <li><i class="fa fa-angle-right"></i>Roustabout</li>
                        
                    </ul>
                    <h3>For Whom</h3>
                    <p>All personnel who want to start a career in the oil and gas industry

                       Male Graduates who wants to secure rig job faster in any oil and gas drilling company

                       Personnel who want to work in oil and gas and intends to grow up a driller

                       NYSC member who want to start on time to acquire relevant certificates that will increase his chances of securing jobs immediately after service year
                    </p>
                    <h3>Promotion</h3>
                    <p>
                        We are currently offering 10% discount when you register this course and any other course(s) at the same time. Offer valid from 30th April 2016. Don't miss this wonderful opportunity!  
                    </p>
                    <h3>Payment</h3>
                    <p>To book for this course, simply click on the registration button, complete the form and submit, then proceed to make payment using the following bank account details; ( ATM and internet bank transfer are all acceptable)</p>
                    
                    <p>Account Name:<b> DESLOG ENERGY SERVICES LTD.</b></p>
                    <p>GTBank:<b>0163854798</b></p>
                    <p>Diamond Bank:<b>0052807207</b></p>
                    <p>FCMB:<b>3656381010</b></p>
                    <p>After payment kindly come to the training venue with a copy of the bank deposit slip as proof of payment and also to obtain the original copy of your payment receipt </p>
                    <p>You can also visit us at No.2 Sanyaolu street Oregun Ikeja Lagos or No. 321 PH/Aba Expressway (toward MTN) Rumuokwurusi Port Harcourt to pay cash and register manually.</p>
                    <p>Note: your registration becomes active as soon as your payment is confirmed. We maintain first come first serve procedure in seat reservation. </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch3">Search</label>
                                <input type="text" class="form-control" id="textsearch3" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                <div class="car-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="img/about/about-2.png" class="img-preview img-responsive" alt="about-2">
                                </div>
                                <div class="item active left">
                                    <img src="img/about/about-3.png" class="img-preview img-responsive" alt="about-3">
                                </div>
                                <div class="item next left">
                                    <img src="img/about/about-1.png" class="img-preview img-responsive" alt="about-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div ng-repeat="cr in cd.recent">
                                <div class="footer-item recent-posts " style="
                                     border: 1px solid lightgray;
                                     box-shadow: 0 0 5px lightgray;
                                     margin-top: 30px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href >{{cr.title}}</a>
                                            </h3>
                                            <p>{{cr.start}}</p>
                                            <div class="comments-icon">
                                                <i class="fa fa-comments"></i>{{cr.comment}}
                                            </div>
                                        </div>
                                    </div> 
                                    <!--                                <div recent-course cr="c"></div>-->


                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- About Institute end -->







