<nav class="navbar-custom">
    <span class="open-slide">
        <a target="_self" href="#" onclick="openSlideMenu()">
            <span>&times;</span>
        </a>

    </span>
    <ul class="navbar-nav-custom">
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
    </ul>
</nav>
<div id="side-menu" class="side-nav">
    <a target="_self" href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <!--  <a href="#" class="">home</a>
     <a href="#" class="">about</a>
     <a href="#" class="">services</a>
     <a href="#" class="">contact</a>-->
    <ul class="nav components">
        <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                Services
            </a>
            <ul class="dropdown-menu">
                <li><a target="_self" href="#tab1default" data-toggle="tab" aria-expanded="true">Home</a></li>
                <li><a target="_self" href="#tab2default" data-toggle="tab" aria-expanded="true">Contact Us</a></li>
                <li><a target="_self" href="#tab3default" data-toggle="tab" aria-expanded="true">Footer</a></li>
                <li><a target="_self" href="#tab4default" data-toggle="tab" aria-expanded="true">Manpower Outsourcing</a></li>
                <li><a target="_self" href="#tab5default" data-toggle="tab" aria-expanded="true">Enviromental Management Services</a></li>
                <li><a target="_self" href="#tab6default" data-toggle="tab" aria-expanded="true">NDT & Corrosion Control Services</a></li>
            </ul>
        </li>

    </ul>
</div>
<div id="main">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab1default">
                    <div class="course-features">
                        <h3>Home Banner</h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="b in banner">
                                <div class="thumbnail blog-box clearfix">
                                    <img src="{{b.image}}" alt="edu-6" class="img-responsive">
                                    <!-- detail -->
                                    <!--                                        
                                    <!-- Main title -->
                                    <div class="main-title-2">
                                        <h1><a href="#/views/Courses/discounted-course-grid">{{course.title}}</a></h1>
                                    </div>

                                    <!-- paragraph -->
                                    <div >
                                    <p>{{b.intro}}</p>
                                    <div class="clearfix"></div>
                                    <!-- Btn -->
                                    <a href="" class="btn button-sm button-theme" ng-click="editBannerImage(b)">Edit</a>
                                    <a href="" class="btn button-sm button-theme" ng-click="deleteBannerImage(b)">Delete</a>
                                    <div ng-if="b.edit">
                                        <p>{{uploadmessage}}</p>
                                        <form name="myform" role="form" novalidate>
                                            <input type="file" class="form-control" name="image" file-model="myFile" required>

                                            <div class="form-group">
                                                <input type="text" name="intro" class="input-text" placeholder="introduction text"
                                                       ng-model="attachment.intro" ng-required="true">
                                                <p class="error validationerror"
                                                   ng-show="myform.intro.$invalid && myform.intro.$touched">
                                                    please provide a valid intro</p>
                                            </div>
                                            <button class="submit btn btn-danger" type="submit" ng-click="uploadBanner(attachment, myFile, obj)">Update</button>
                                        </form>    
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade features" id="tab2default">
                    Properties condition start 
                    <div class="course-features">
                        <h3>Course Features</h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <ul class="condition">
                                    <li>
                                        <i class="fa fa-clock-o"></i>Starts: July 22,17
                                    </li>
                                    <li>
                                        <i class="fa fa-book"></i>Class Time: 9:00 - 11:00
                                    </li>
                                    <li>
                                        <i class="fa fa-fw fa-calendar"></i>Duration 8 Months
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <ul class="condition">
                                    <li>
                                        <i class="fa fa-exclamation-circle"></i>July 29, 2017
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>Institution AIUB University
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <ul class="condition">
                                    <li>
                                        <i class="fa fa-user"></i>Seats Available 125 Student
                                    </li>
                                    <li>
                                        <i class="fa fa-check-square"></i>Balcony
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h4>Course Price:$270</h4>
                        <button type="submit" class="btn button-sm button-theme">Join This Course</button>
                    </div>
                    <!--Properties condition end -->
                </div>
                <div class="tab-pane fade technical" id="tab3default">
                    Advantages start 
                    <div class="advantages">
                        <h3>Advantages</h3>
                        <ul>
                            <li><span>1</span>Live project end to end software testing training Included.</li>
                            <li><span>2</span>Information packed practical training starting from basics to advanced testing techniques.</li>
                            <li><span>3</span>Over 37 lectures and 55.5 hours of content!</li>
                            <li><span>4</span>Learn Software Testing and Automation basics from a professional trainer from your own desk.</li>
                            <li><span>5</span>Practical assignments at the end of every session.</li>
                            <li><span>6</span>Lorem ipsum dolor sit amet consectetuer adipi</li>
                            <li><span>7</span>Course content designed by considering current software testing technology and the job market.</li>
                        </ul>
                    </div>
                    Advantages end 
                </div>
                <div class="tab-pane fade" id="tab4default">
                    Our teachers start 
                    <h3>Our Teachers</h3>
                    <div class="row">
                        <div class="our-teachers">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Teachers box start 
                                <div class="teachers-box ">
                                    Teachers img 
                                    <a href="teachers.html" class="teachers-img">
                                        <img src="img/teachers/teacher-1.jpg" alt="teacher-1" class="img-responsive">
                                    </a>
                                    Teachers content 
                                    <div class="teachers-content">
                                        title 
                                        <h1 class="title">
                                            <a href="teachers.html">John Antony</a>
                                        </h1>
                                        Subject 
                                        <h3 class="subject">Teacher / English</h3>
                                        paragraph 
                                        <p>lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        Social list 
                                        <ul class="social-list clearfix">
                                            <li>
                                                <a href="#" class="facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="google">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="rss">
                                                    <i class="fa fa-rss"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                Teachers box end 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Teachers box start 
                                <div class="teachers-box ">
                                    Agent img 
                                    <a href="teachers.html" class="teachers-img">
                                        <img src="img/teachers/teacher-2.jpg" alt="teacher-2" class="img-responsive">
                                    </a>
                                    Teachers content 
                                    <div class="teachers-content">
                                        title 
                                        <h1 class="title">
                                            <a href="teachers.html">John Antony</a>
                                        </h1>
                                        Subject 
                                        <h3 class="subject">Teacher / English</h3>
                                        paragraph 
                                        <p>lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        Social list 
                                        <ul class="social-list clearfix">
                                            <li>
                                                <a href="#" class="facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="google">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="rss">
                                                    <i class="fa fa-rss"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                Teachers box end 
                            </div>
                        </div>
                    </div>
                    Our teachers end 
                </div>
                <div class="tab-pane fade" id="tab5default">
                    Inside course start  
                    <div class="inside-course">
                        <h3>Video</h3>
                        <iframe src="" allowfullscreen=""></iframe>
                    </div>
                    Inside course end 
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function openSlideMenu() {
        document.getElementById('side-menu').style.width = '250px';
        document.getElementById('main').style.marginLeft = '250px';
    }
    function closeSlideMenu() {
        document.getElementById('side-menu').style.width = '0';
        document.getElementById('main').style.marginLeft = '0';
    }
</script>

<!--<div class="container" style="
     padding-top: 30px;
     padding-bottom: 50px;
     margin-top: 25px;
     margin-bottom: 25px">
    <div class="row">
        <div id="profile" class="col-md-3 hidden-sm hidden-xs">

            <div id="profile-resume" class="card">
                <a href="#"><img class="card-img-top img-responsive" src="img/landscape.jpg"></a>
                <div class="card-block">
                    <img src="img/jon.png" class="card-img">
                    <h4 class="card-title ">{{lastname}}<small>@{{lastname}}</small></h4>
                    <p class="card-text">{{email}}</p>
                    <ul class="list-inline list-unstyled">
                    </ul>
                </div>
            </div>

                        <div class="panel-box course-panel-box course-description" style="margin-top: 15px;">
                            <ul class="nav nav-tabs">
                                <li class="active"><a target="_self" href="#tab1default" data-toggle="tab" aria-expanded="true">Invoice</a></li>
                                <li class=""><a target="_self" href="#tab2default" data-toggle="tab" aria-expanded="false">Course Features</a></li>
                                <li class=""><a target="_self" href="#tab3default" data-toggle="tab" aria-expanded="false">Advantages</a></li>
                                <li class=""><a target="_self" href="#tab4default" data-toggle="tab" aria-expanded="false">Our Teachers</a></li>
                                <li class=""><a target="_self" href="#tab5default" data-toggle="tab" aria-expanded="false">Video</a></li>
                                <li class="">
                                    <a target="_self" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                                    <ul class="collapse list-unstyled" id="pageSubmenu">
                                        <li><a target="_self" href="#">Page 1</a></li>
                                        <li><a target="_self" href="#">Page 2</a></li>
                                        <li><a target="_self" href="#">Page 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
        </div
        <div class="panel-box course-panel-box course-description">
                        <ul class="nav nav-tabs">
                            <li class="active"><a target="_self" href="#tab1default" data-toggle="tab" aria-expanded="true">Description</a></li>
                            <li class=""><a target="_self" href="#tab2default" data-toggle="tab" aria-expanded="false">Course Features</a></li>
                            <li class=""><a target="_self" href="#tab3default" data-toggle="tab" aria-expanded="false">Advantages</a></li>
                            <li class=""><a target="_self" href="#tab4default" data-toggle="tab" aria-expanded="false">Our Teachers</a></li>
                            <li class=""><a target="_self" href="#tab5default" data-toggle="tab" aria-expanded="false">Video</a></li>
                        </ul>
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1default">
                                        <div class="mrg-btm-30">
                                             Title 
                                            <h3>Course Description</h3>
                                             paragraph 
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam pellentesque nibh et nibh feugiat gravida. Maecenas ultricies, diam vitae semper placerat, velit risus accumsan nisl, eget tempor lacus est vel nunc. Proin accumsan elit sed neque euismod fringilla. Curabitur lobortis nunc velit,</p>
                                        </div>
                                        <div class="mrg-btm-30">
                                             Title 
                                            <h3>Requirements</h3>
                                            <div class="requirements">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <ul>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <ul>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                            <li><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet consectetuer</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade features" id="tab2default">
                                         Properties condition start 
                                        <div class="course-features">
                                            <h3>Course Features</h3>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <ul class="condition">
                                                        <li>
                                                            <i class="fa fa-clock-o"></i>Starts: July 22,17
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-book"></i>Class Time: 9:00 - 11:00
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-fw fa-calendar"></i>Duration 8 Months
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <ul class="condition">
                                                        <li>
                                                            <i class="fa fa-exclamation-circle"></i>July 29, 2017
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-graduation-cap"></i>Institution AIUB University
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <ul class="condition">
                                                        <li>
                                                            <i class="fa fa-user"></i>Seats Available 125 Student
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-check-square"></i>Balcony
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>Course Price:$270</h4>
                                            <button type="submit" class="btn button-sm button-theme">Join This Course</button>
                                        </div>
                                         Properties condition end 
                                    </div>
                                    <div class="tab-pane fade technical" id="tab3default">
                                         Advantages start 
                                        <div class="advantages">
                                            <h3>Advantages</h3>
                                            <ul>
                                                <li><span>1</span>Live project end to end software testing training Included.</li>
                                                <li><span>2</span>Information packed practical training starting from basics to advanced testing techniques.</li>
                                                <li><span>3</span>Over 37 lectures and 55.5 hours of content!</li>
                                                <li><span>4</span>Learn Software Testing and Automation basics from a professional trainer from your own desk.</li>
                                                <li><span>5</span>Practical assignments at the end of every session.</li>
                                                <li><span>6</span>Lorem ipsum dolor sit amet consectetuer adipi</li>
                                                <li><span>7</span>Course content designed by considering current software testing technology and the job market.</li>
                                            </ul>
                                        </div>
                                         Advantages end 
                                    </div>
                                    <div class="tab-pane fade" id="tab4default">
                                         Our teachers start 
                                        <h3>Our Teachers</h3>
                                        <div class="row">
                                            <div class="our-teachers">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                     Teachers box start 
                                                    <div class="teachers-box ">
                                                         Teachers img 
                                                        <a href="teachers.html" class="teachers-img">
                                                            <img src="img/teachers/teacher-1.jpg" alt="teacher-1" class="img-responsive">
                                                        </a>
                                                         Teachers content 
                                                        <div class="teachers-content">
                                                             title 
                                                            <h1 class="title">
                                                                <a href="teachers.html">John Antony</a>
                                                            </h1>
                                                             Subject 
                                                            <h3 class="subject">Teacher / English</h3>
                                                             paragraph 
                                                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                             Social list 
                                                            <ul class="social-list clearfix">
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="twitter">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="linkedin">
                                                                        <i class="fa fa-linkedin"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="google">
                                                                        <i class="fa fa-google-plus"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="rss">
                                                                        <i class="fa fa-rss"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                     Teachers box end 
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                     Teachers box start 
                                                    <div class="teachers-box ">
                                                         Agent img 
                                                        <a href="teachers.html" class="teachers-img">
                                                            <img src="img/teachers/teacher-2.jpg" alt="teacher-2" class="img-responsive">
                                                        </a>
                                                         Teachers content 
                                                        <div class="teachers-content">
                                                             title 
                                                            <h1 class="title">
                                                                <a href="teachers.html">John Antony</a>
                                                            </h1>
                                                             Subject 
                                                            <h3 class="subject">Teacher / English</h3>
                                                             paragraph 
                                                            <p>lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                             Social list 
                                                            <ul class="social-list clearfix">
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="twitter">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="linkedin">
                                                                        <i class="fa fa-linkedin"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="google">
                                                                        <i class="fa fa-google-plus"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="rss">
                                                                        <i class="fa fa-rss"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                     Teachers box end 
                                                </div>
                                            </div>
                                        </div>
                                         Our teachers end 
                                    </div>
                                    <div class="tab-pane fade" id="tab5default">
                                         Inside course start  
                                        <div class="inside-course">
                                            <h3>Video</h3>
                                            <iframe src="https://www.youtube.com/embed/5e0LxrLSzok" allowfullscreen=""></iframe>
                                        </div>
                                         Inside course end 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     course description end 

                     Courses syllabus start 
                    <div class="courses-syllabus">
                        <h1>Courses syllabus</h1>
                         Courses item start 
                        <div class="courses-item">
                             header 
                            <div class="header">
                                <span class="sub-title">1. Introduction</span>
                            </div>
                             Body 
                            <div class="courses-body mrg-btm-50">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="gray-bg">
                                                <td><b>Title</b></td>
                                                <td><b>Estimate Time</b></td>
                                                <td><b>Spent Time</b></td>
                                                <td><b>Status</b></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-chevron-circle-right icon-color"></i><a href="#">1.1 Introduction</a></td>
                                                <td><i class="fa fa-clock-o"></i>40:20</td>
                                                <td><i class="fa fa-clock-o"></i>40:20</td>
                                                <td><i class="fa fa-check-circle icon-color"></i>Complete</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-file-text icon-color"></i><a href="#">1.1 Document setup and background</a></td>
                                                <td><i class="fa fa-clock-o"></i>40:20</td>
                                                <td></td>
                                                <td><i class="fa fa-check-circle icon-color"></i>Complete</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa fa-file-text icon-color"></i><a href="#">1.1 Introduction</a></td>
                                                <td><i class="fa fa-clock-o"></i>40:20</td>
                                                <td><i class="fa fa-clock-o"></i>40:20</td>
                                                <td><i class="fa fa-lock"></i>Private</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                             header 
                            <div class="header">
                                <span class="sub-title">2. Creating your project</span>
                            </div>
                             Body 
                            <div class="courses-body mrg-btm-50">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr class="gray-bg">
                                            <td><b>Title</b></td>
                                            <td><b>Estimate Time</b></td>
                                            <td><b>Spent Time</b></td>
                                            <td><b>Status</b></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-chevron-circle-right icon-color"></i><a href="#">2.1 Introduction</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-check-circle icon-color"></i>Complete</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-file-text icon-color"></i><a href="#">2.2 Document setup and background</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td></td>
                                            <td><i class="fa fa-check-circle icon-color"></i>Complete</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-file-text icon-color"></i><a href="#">2.3 Document setup and background</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td></td>
                                            <td><div class="bg-yellow">Free</div></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa fa-file-text icon-color"></i><a href="#">2.4 Introduction</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-lock"></i>Private</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-file-text icon-color"></i><a href="#">2.5 Document setup and background</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td></td>
                                            <td><div class="bg-yellow">Free</div></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa fa-file-text icon-color"></i><a href="#">2.6 Introduction</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-lock"></i>Private</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                             header 
                            <div class="header">
                                <span class="sub-title">3. Creating your apps</span>
                            </div>
                             Body 
                            <div class="courses-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr class="gray-bg">
                                            <td><b>Title</b></td>
                                            <td><b>Estimate Time</b></td>
                                            <td><b>Spent Time</b></td>
                                            <td><b>Status</b></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-chevron-circle-right icon-color"></i><a href="#">3.1 Introduction</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-check-circle icon-color"></i>Complete</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-file-text icon-color"></i><a href="#">3.2 Document setup and background</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td></td>
                                            <td><i class="fa fa-check-circle icon-color"></i>Complete</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa fa-file-text icon-color"></i><a href="#">3.3 Introduction</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-lock"></i>Private</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-file-text icon-color"></i><a href="#">3.4 Document setup and background</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td></td>
                                            <td><div class="bg-yellow">Free</div></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa fa-file-text icon-color"></i><a href="#">3.5 Introduction</a></td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-clock-o"></i>40:20</td>
                                            <td><i class="fa fa-lock"></i>Private</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                         Courses item end 
                    </div>
                     Courses syllabus start 
                    <button class="btn btn-color" style="background: #eb5800; color: white">Pay Now</button>
                    <button class="btn btn-color" style="background: #eb5800; color: white">Pay at Office</button>
                    <button ng-click="m.clearCourseArray()" class="btn btn-color" style="background: #eb5800; color: white">Pick Again</button>
                    
                </div>
                 sidebar end 
                
                 Comments section start 
                <div class="comments-section sidebar-widget">
                     Main Title 2 
                    <div class="main-title-2">
                        <h1><span>Comments </span> Section</h1>
                    </div>

                    <ul class="comments">
                        <li>
                            <div class="comment">
                                <div class="comment-author">
                                    <a href="#">
                                        <img src="img/avatar/avatar-5.png" alt="avatar-5">
                                    </a>
                                </div>
                                <div class="comment-content">
                                    <div class="comment-meta">
                                        <div class="comment-meta-author">
                                            Jane Doe
                                        </div>
                                        <div class="comment-meta-reply">
                                            <a href="#">Reply</a>
                                        </div>
                                        <div class="comment-meta-date">
                                            <span class="hidden-xs">8:42 PM 3/3/2017</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="comment-body">
                                        <div class="comment-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante sed ligula hendrerit condimentum. Suspendisse rhoncus fringilla ipsum quis porta.</p>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <a href="#">
                                                <img src="img/avatar/avatar-5.png" alt="avatar-5">
                                            </a>
                                        </div>

                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author">
                                                    Jane Doe
                                                </div>

                                                <div class="comment-meta-reply">
                                                    <a href="#">Reply</a>
                                                </div>

                                                <div class="comment-meta-date">
                                                    <span class="hidden-xs">8:42 PM 3/3/2017</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="comment-body">
                                                <div class="comment-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment-author">
                                    <a href="#">
                                        <img src="img/avatar/avatar-5.png" alt="avatar-5">
                                    </a>
                                </div>
                                <div class="comment-content">
                                    <div class="comment-meta">
                                        <div class="comment-meta-author">
                                            Jane Doe
                                        </div>
                                        <div class="comment-meta-reply">
                                            <a href="#">Reply</a>
                                        </div>
                                        <div class="comment-meta-date">
                                            <span class="hidden-xs">8:42 PM 3/3/2017</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="comment-body">
                                        <div class="comment-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                 Comments section end 

                 Contact form start 
                <div class="contact-form sidebar-widget">
                    <div class="main-title-2">
                        <h1> <span>Leave</span> a Comment</h1>
                    </div>
                    <form id="contact_form" action="http://storage.googleapis.com/themeforest-educare/index.html" method="GET" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group fullname">
                                    <input type="text" name="full-name" class="input-text" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group enter-email">
                                    <input type="email" name="email" class="input-text" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group subject">
                                    <input type="text" name="subject" class="input-text" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group number">
                                    <input type="text" name="phone" class="input-text" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group message">
                                    <textarea class="input-text" name="message" placeholder="Write message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group send-btn">
                                    <button type="submit" class="button-md button-theme">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                 Contact form end 
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
               
            </div>
        </div>
    </div>
</div>
</div>
-->
