<!-- Gallery secion start -->
<div class="content-area gallery-secion">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><span>Our</span> Gallery</h1>
        </div>
        <ul class="list-inline-listing filters filters-listing-navigation">
            <li class="active btn filtr-button filtr" data-filter="all">All</li>
            <li data-filter="1" class="btn btn-inline filtr-button filtr">Exam</li>
            <li data-filter="2" class="btn btn-inline filtr-button filtr">Event</li>
            <li data-filter="3" class="btn btn-inline filtr-button filtr">Reading</li>
            <li data-filter="4" class="btn btn-inline filtr-button filtr">Contest</li>
        </ul>
        <div class="row">
            <div class="filtr-container">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  filtr-item" data-category="3">
                    <figure class="portofolio-thumb">
                        <a href="#"><img src="img/educare/edu-2.jpg" alt="sample99"></a>
                        <figcaption>
                            <div class="figure-content">
                                <h3 class="title">Basic Accounting</h3>
                                <ul class="reviews">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li><span>25 Reviews</span></li>
                                </ul>
                                <h4 class="price">$125.00</h4>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  filtr-item" data-category="3, 4">
                    <figure class="portofolio-thumb">
                        <a href="#"><img src="img/educare/edu-3.jpg" alt="sample99"></a>
                        <figcaption>
                            <div class="figure-content">
                                <h3 class="title">Regular MBA</h3>
                                <ul class="reviews">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li><span>25 Reviews</span></li>
                                </ul>
                                <h4 class="price">$125.00</h4>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  filtr-item" data-category="1, 4">
                    <figure class="portofolio-thumb">
                        <a href="#"><img src="img/educare/edu-4.jpg" alt="sample99"></a>
                        <figcaption>
                            <div class="figure-content">
                                <h3 class="title">Computer Science</h3>
                                <ul class="reviews">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li><span>25 Reviews</span></li>
                                </ul>
                                <h4 class="price">$125.00</h4>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  filtr-item" data-category="2, 3">
                    <figure class="portofolio-thumb">
                        <a href="#"><img src="img/educare/edu-5.jpg" alt="sample99"></a>
                        <figcaption>
                            <div class="figure-content">
                                <h3 class="title">Regular MBA</h3>
                                <ul class="reviews">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li><span>25 Reviews</span></li>
                                </ul>
                                <h4 class="price">$125.00</h4>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  filtr-item" data-category="1, 2">
                    <figure class="portofolio-thumb">
                        <a href="#"><img src="img/educare/edu-1.jpg" alt="sample99"></a>
                        <figcaption>
                            <div class="figure-content">
                                <h3 class="title">Computer Science</h3>
                                <ul class="reviews">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li><span>25 Reviews</span></li>
                                </ul>
                                <h4 class="price">$125.00</h4>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  filtr-item" data-category="4">
                    <figure class="portofolio-thumb">
                        <a href="#"><img src="img/educare/edu-6.jpg" alt="sample99"></a>
                        <figcaption>
                            <div class="figure-content">
                                <h3 class="title">Basic Accounting</h3>
                                <ul class="reviews">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li><span>25 Reviews</span></li>
                                </ul>
                                <h4 class="price">$125.00</h4>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery secion end -->
