<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hidden-sm wow fadeInUp delay-04s" style="visibility: visible; animation-name: fadeInUp;">
                <div class="thumbnail blog-box clearfix">
                    <img src="img/educare/edu-4.jpg" alt="edu-4" class="img-responsive">
                    <!-- detail -->
                    <div class="caption detail">
                        <div class="date-box">
                            <h5>04</h5>
                            <h5>May</h5>
                        </div>
                        <!-- Main title -->
                        <div class="main-title-2">
                            <h1><a href="blog-single.html">Lorem ipsum dolor sit amet</a></h1>
                        </div>
                        <!-- Post meta -->
                        <div class="post-meta">
                            <span><a href="#"><i class="fa fa-user"></i>John Antony</a></span>
                            <span><a><i class="fa fa-clock-o"></i>July 20</a></span>
                            <span><a href="#"><i class="fa fa-commenting-o"></i>24 Comment</a></span>
                        </div>
                        <!-- paragraph -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna  Ut enim ad minim veniam, quis nostrud</p>
                        <div class="clearfix"></div>
                        <!-- Btn -->
                        <a href="blog-single.html" class="btn button-sm button-theme">Read More</a>
                    </div>
                </div>
            </div>