a:hover {
    text-decoration: none;
}

.navbar-search-input::-webkit-input-placeholder {
    color:  #eb5800;
}

.navbar-search-input:-moz-placeholder {
    color:  #eb5800;
}

.navbar-search-input::-moz-placeholder {
    color:  #eb5800;
}

.navbar-search-input:-ms-input-placeholder {
    color:  #eb5800;
}

.navbar-search-open .navbar-search-icon {
    background:  #eb5800;
}

.navbar-search-open .navbar-search-submit {
    background:  #eb5800;
}

#page_scroller {
    background:  #eb5800;
}

.setting-button {
    background:  #eb5800;
}

.option-panel h2 {
    color:  #eb5800;
}

.list-inline-listing .active {
    background:  #eb5800;
}

.list-inline-listing li:hover {
    background:  #eb5800;
}

.main-title h1 span {
    color:  #eb5800;
}

.button-theme {
    background:  #eb5800;
    border: 2px solid  #eb5800;
}

.button-theme:hover {
    background:  #eb5800;
    border: 2px solid  #eb5800;
}

.error404-content h1 {
    color:  #eb5800;
}

.footer-top form .button-small {
    border: solid 1px  #eb5800 !important;
    background:  #eb5800 !important;
}

.course-features ul li i {
    color:  #eb5800;
}

.course-features ul li i {
    color:  #eb5800;
}

.banner-detail-box h3 {
    color:  #eb5800;
}

.border-button-theme {
    border: 2px solid  #eb5800;
    color:  #eb5800;
}

.border-button-theme:hover {
    background:  #eb5800;
    color: #fff !important;
}

.theme-tabs .nav-tabs > li > a {
    background:  #eb5800;
}

.theme-tabs .nav-tabs > li.active > a,
.theme-tabs .nav-tabs > li > a:hover {
    color:  #eb5800;
!important;
}

.theme-tabs .nav-tabs > li > a::after {
    background:  #eb5800;
}

.theme-tabs .tab-nav > li > a::after {
    background:  #eb5800 none repeat scroll 0% 0%;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color:  #eb5800;
    border-bottom: transparent;
}

.search-button {
    background:  #eb5800;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background:  #eb5800;
    color: #fff !important;
}

.main-header .navbar-default .nav > li > a:hover {
    background:  #eb5800;
    color: #fff !important;
}

.main-title-2 h1 a {
    color:  #eb5800;
}

.intro-section {
    background:  #eb5800;
}

.search-button:hover {
    color: #fff;
    background:  #eb5800;
}

.panel-box .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background:  #eb5800;
    color: #fff;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0;
}

.panel-box ul li a:hover {
    background:  #eb5800;
    color: #fff;
    border-radius: 0;
}

.course-panel-box .nav-tabs > li > a:hover {
    color: #fff;
    background:  #eb5800;
}

.heading-courses p i {
    color:  #eb5800;
    margin-right: 5px;
}

.panel-box span a {
    color:  #eb5800;
}

.panel-box .panel-heading .panel-title a i {
    color:  #eb5800;
}

.heading-courses h3 {
    color:  #eb5800;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color:  #eb5800;
}

.for-sale {
    background:  #eb5800;
}

.requirements ul li i {
    color: #eb5800;
}

.advantages ul li span {
    color: #eb5800;
}

.footer-top .social-list li a:hover {
    background: #eb5800;
    border: solid 1px #eb5800;
}

.category-content .btn, .category-content .pricing-btn {
    background: #eb5800;
}

.teachers-box .title a {
    color: #eb5800;
}

.testimonials .content .author-name {
    color: #eb5800;
}

.date-box {
    background: #eb5800;
}

.dropdown-menu > li > a:hover {
    color: #eb5800;
    border-left: solid 5px #eb5800;
}

.plan.featured .price-header {
    background: #eb5800;
}

.listing-properties-box .detail header.title a {
    color: #eb5800;
}

.listing-properties-box .detail .title::after {
    background-color: #eb5800;
}

.pagination > li > a:hover {
    background: #eb5800;
    border-color: #eb5800;
}

.pagination > .active > a {
    background: #eb5800;
    border-color: #eb5800;
}

.pagination > .active > a:hover {
    background: #eb5800;
    border-color: #eb5800;
}

.blog-box .detail .post-meta span a i {
    color: #eb5800;
}

.teachers-box-list .teachers-content h1 a {
    color: #eb5800;
}

.form-content-box .footer span a {
    color: #eb5800;
}

.icon-color {
    color: #eb5800;
}

.courses-syllabus .courses-item .header {
    background: #95c41f;
}

.teachers-box-big .teachers-content h1 a:hover {
    color: #95c41f;
}

.tab-style-2-line > .nav-tabs > li.active > a:hover {
    border: solid 1px #eb5800 !important;
    background: #eb5800 !important;;
}

.archives ul li a:hover {
    color: #eb5800;
}

.category-posts ul li a:hover {
    color:  #eb5800;
}

.tags-box ul li a:hover {
    border: 1px solid #95c41f;
    background:  #eb5800;
}

.latest-tweet a {
    color:  #eb5800;
}

.recent-posts .media-heading a {
    color:  #eb5800;
}

.comment-meta-author a {
    color:  #eb5800;
}

.comment-meta-reply a {
    background-color:  #eb5800;
}

.contact-details .media .media-left i {
    background:  #eb5800;
}

.about-text ul li i {
    color: #eb5800;
}

.breadcrumbs li a:hover {
    color: #eb5800;
}

.top-header ul li a:hover {
    color: #eb5800;
}

.services-box-2 i {
    background: #eb5800;
}

.helping-center .icon {
    color: #eb5800;
}

.services-box i {
    background: #eb5800;
}

.customers-say-box .detail ul li i {
    color: #eb5800;
}

.attachments a:hover {
    color: #eb5800;
}

.course-box .price {
    background: #eb5800;
}

.courses-box-list .price {
    background: #eb5800;
}

.course-box .detail h3 a {
    color: #eb5800;
}

.courses-box-list .detail h3 a {
    color: #eb5800;
}

.events-box .date-box {
    color: #eb5800;
}

.events-box-grid .date-box {
    color: #eb5800;
}

.events-box-grid .events-content h1 a {
    color: #eb5800;
}

.events-box .events-content ul li i {
    color: #eb5800;
}

.events-box-grid .events-content ul li i {
    color: #eb5800;
}

.additional-details-list li a:hover {
    color: #eb5800;
}

.events-box .events-content h1 a {
    color: #eb5800;
}

table.manage-table td.action a:hover {
    color: #eb5800;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #eb5800;
    background-color: #eb5800;
}

.numbered.color ol > li::before {
    border: 1px solid #eb5800;
    color: #eb5800;
}

.map-edu-list li i {
    color: #eb5800;
}

@media (max-width: 768px) {

    .navbar-default .navbar-toggle .icon-bar {
        background: #eb5800;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #eb5800;
        color: #fff ! important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background: #eb5800;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #eb5800;
    !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}


