
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
    <div class="thumbnail blog-box clearfix">
        <img src="img/educare/edu-6.jpg" alt="edu-6" class="img-responsive">
        <!-- detail -->
        <div class="caption detail">
            <div class="date-box">
                <h5>{{course.day}}</h5>
                <h5>{{course.month}}</h5>
            </div>
            <!-- Main title -->
            <div class="main-title-2">
                <h1><a href="#/views/Courses/discounted-course-grid">{{course.title}}</a></h1>
            </div>
            <!-- Post meta -->
<!--            <div class="post-meta">
                <span><a href="#"><i class="fa fa-user"></i>John Antony</a></span>
                <span><a><i class="fa fa-clock-o"></i>July 20</a></span>
                <span><a href="#"><i class="fa fa-commenting-o"></i>24 Comment</a></span>
            </div>-->
            <!-- paragraph -->
            <p>{{course.intro }}</p>
            <div class="clearfix"></div>
            <!-- Btn -->
            <a href="#/views/Courses/discounted-course-detail" class="btn button-sm button-theme">Read More</a>
        </div>
    </div>
</div>
