<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Course Details</h1>
                <ul class="breadcrumbs">
                    <li><a href="">Training</a></li>
                    <li class="active">HSE </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sub Banner end -->
<!-- About Institute start -->
<div class="about-institute">
    <div class="container">
        <div class="row">          
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3>Advanced HSE Level 3</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>288 Aba Road, Port Harcourt
                        </p>
                    </div>
                    <div class="pull-right">
                        <h3><span>Item Rating</span></h3>
                        <ul class="rating">
                            <li>
                                <i class="fa fa-star-half-full"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Heading courses end -->
                <div class="about-text">
                    <!-- title -->
                    

                    <!-- paragraph -->
                    <h3>Overview</h3>
                    <p> <b>Course Objectives:</b></p>

                    <p>
                        Every year, thousands of employees die, severely injured or suffer illnesses directly or indirectly associated with their work. This indicates the importance of effective HSE training for all employees within any organization at their different levels. 

                        Health Safety and Environment (HSE) level 1, 2 & 3 course has been designed by World Safety Organization (WSO) to train our student on HSE foundation level, Appreciation level and Supervision level.

                        The benefits of this training is numerous including but not limited; showing concern to safety and health of employee, compliance with national and international legal requirements, improving staff morale, reducing or completely removing the financial implications of accidents and in turn increasing overall production and economic profits for the organization 
                    </p>
                    <p><b>Training and Learning Methods:</b></p>
                    <p>
                        Training will be delivered in our offices and training centers by our staff of highly trained and seasoned certified safety professionals with proven experience in training and consultancy practices.

                        This course is a mix of theory and practical demonstration.
                    </p>
                    <p><b>Assessment Methods:</b></p>
                    <p>
                        Examination will be written under clocked supervised conditions. Daily continues assessment will be taken during the training
                    </p>
                    <p><b>Course Duration:</b></p>
                    <p>3 Days</p>
                    <p><b>Minimum Entry Requirement:</b></p>
                    <p>OND, HND, Bsc. and other above educational qualifications.</p>
                    <p><b>Certification:</b></p>
                    <p>
                        Internationally recognized HSE level 1, 2 & 3 certificate will be issued at the end of the training and examination by World Safety Organization (WSO), USA.
                    </p>
                    <h3>Course Outlines</h3>
                    <p><b>The course syllabus consists of 21 topics (sub-courses):</b></p>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>Introduction</li>
                        <li><i class="fa fa-angle-right"></i>Safety Legislation, Policies & Implementation</li>
                        <li><i class="fa fa-angle-right"></i>Environmental Agencies, Legislation and Contemporary Issues</li>
                        <li><i class="fa fa-angle-right"></i>First Aid & CPR</li>
                        <li><i class="fa fa-angle-right"></i>HSE - MS</li>
                        <li><i class="fa fa-angle-right"></i>Fire Safety</li>
                        <li><i class="fa fa-angle-right"></i>Live Saving Rules, 8EP House Rules & HSE Golden Rules</li>
                        <li><i class="fa fa-angle-right"></i>Contingency Management</li>
                        <li><i class="fa fa-angle-right"></i>Transportation Safety (Logistics)</li>
                        <li><i class="fa fa-angle-right"></i>ISO Regulation</li>
                        <li><i class="fa fa-angle-right"></i>HSE Statistics/Data Management</li>
                        <li><i class="fa fa-angle-right"></i>HEMP/MOC/Risk Assessment</li>
                        <li><i class="fa fa-angle-right"></i>Essential Duties of a Safety Supervisor</li>
                        <li><i class="fa fa-angle-right"></i>Security Challenges & Conflict Management/Conflict Resolution</li>
                        <li><i class="fa fa-angle-right"></i>HSE Case</li>
                        <li><i class="fa fa-angle-right"></i>Environmental Issues</li>
                        
                    </ul>
                    <h3>For Whom</h3>
                    <p>All personnel working in any industry and sector of economy who must have completed General HSE level 1&2 course

Personnel who wish to carry out safety supervisory job for any organization

All personnel who want to advance in safety career
                    </p>
                    <h3>Promotion</h3>
                    <p>We are currently offering massive discount on this course as an appreciation to our esteem clients for the Easter celebration. offer valid from 1st - 31st March 2016. Don't miss this wonderful opportunity! </p>
                    
                    <h3>Payment</h3>
                    <p>To book for this course, simply click on the registration button, complete the form and submit, then proceed to make payment using the following bank account details; ( ATM and internet bank transfer are all acceptable)</p>
                    
                    <p>Account Name:<b> DESLOG ENERGY SERVICES LTD.</b></p>
                    <p>GTBank:<b>0163854798</b></p>
                    <p>Diamond Bank:<b>0052807207</b></p>
                    <p>FCMB:<b>3656381010</b></p>
                    <p>After payment kindly come to the training venue with a copy of the bank deposit slip as proof of payment and also to obtain the original copy of your payment receipt </p>
                    <p>You can also visit us at No.2 Sanyaolu street Oregun Ikeja Lagos or No. 321 PH/Aba Expressway (toward MTN) Rumuokwurusi Port Harcourt to pay cash and register manually.</p>
                    <p>Note: your registration becomes active as soon as your payment is confirmed. We maintain first come first serve procedure in seat reservation. </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch3">Search</label>
                                <input type="text" class="form-control" id="textsearch3" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                <div class="car-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="img/about/about-2.png" class="img-preview img-responsive" alt="about-2">
                                </div>
                                <div class="item active left">
                                    <img src="img/about/about-3.png" class="img-preview img-responsive" alt="about-3">
                                </div>
                                <div class="item next left">
                                    <img src="img/about/about-1.png" class="img-preview img-responsive" alt="about-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div ng-repeat="cr in cd.recent">
                                <div class="footer-item recent-posts " style="
                                     border: 1px solid lightgray;
                                     box-shadow: 0 0 5px lightgray;
                                     margin-top: 30px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href >{{cr.title}}</a>
                                            </h3>
                                            <p>{{cr.start}}</p>
                                            <div class="comments-icon">
                                                <i class="fa fa-comments"></i>{{cr.comment}}
                                            </div>
                                        </div>
                                    </div> 
                                    <!--                                <div recent-course cr="c"></div>-->


                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- About Institute end -->






