<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Build a Career with Us</h1>
                <ul class="breadcrumbs">
                    <li><a href >Career</a></li>
                    <li class="active">Applicant</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sub Banner end -->
<!-- About Institute start -->
<div class="about-institute">
    <div class="container">
        <div class="row">          
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3>Vacancy at Deslog Energy Services Limited in Port-Harcourt & Lagos offices</h3>
                        
                    </div>
                </div>
                <!-- Heading courses end -->
                <div class="about-text">
                    <!-- title -->
                    
                    <!-- paragraph -->
                    
                    <p> <b>Deslog Energy</b> is into Safety and Oil & Gas Training and Oil & Gas support services.
                            We are searching for experienced individuals who will immediately fill in the following sensitive positions in the company.
                    </p>
                    
                    
                    <h3>Experienced Male Trainer (Lagos & Port Harcourt):</h3>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>Excellent oral and communication skill</li>
                        <li><i class="fa fa-angle-right"></i>Sound ability, experience and qualification to train safety and oil & gas courses</li>
                        <li><i class="fa fa-angle-right"></i>Sound ability, experience and qualification to train Management courses such as Project Management and Human Resource Management, Supply Chain Management, etc.</li>
                        <li><i class="fa fa-angle-right"></i>Good knowledge in the use of computer</li>
                        <li><i class="fa fa-angle-right"></i>Ready to work in the field when required</li>
                        <li><i class="fa fa-angle-right"></i>Ready for full-time employment</li>
                        
                    </ul>
                    <p><b>Qualifications:</b></p>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>HND or BSC</li>
                        <li><i class="fa fa-angle-right"></i>At least two years working experience in safety practices in oil & gas industry, Engineering field and other industries</li>
                        <li><i class="fa fa-angle-right"></i>MUST have at least HSE level 1,2 & 3  certificates from a recognized institute.</li>
                        <li><i class="fa fa-angle-right"></i>NEBOSH IGC, OSHA, IOSH, HSE Train-the-Trainer certificates will be an added advantage</li>
                        <li><i class="fa fa-angle-right"></i>Computer certificate and any other acquired skills will be an added advantage.</li>
                        <li><i class="fa fa-angle-right"></i>Any certificate or work experience in Oil & Gas industry will be an added advantage.</li>
                        <li><i class="fa fa-angle-right"></i> Project Management and Human resource management certificates from a recognized institute will be an added advantage</li>
                        
                    </ul>
                    <h3>Experienced Male / Female Marketers with proven record (Port Harcourt):</h3>
                   
                    <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i>Very experience in marketing with the ability to market our product and services to companies and individuals to meet assigned target</li>
                        <li><i class="fa fa-angle-right"></i>Experienced in Internet marketing and social network marketing.</li>
                        <li><i class="fa fa-angle-right"></i>Ability to follow up prospects and convert new business advertising strategies</li>
                        <li><i class="fa fa-angle-right"></i>Ability to Source jobs from companies</li>
                        <li><i class="fa fa-angle-right"></i>Register our company as vendor with other indigenous & multi-national companies</li>
                        <li><i class="fa fa-angle-right"></i>Represent the company when needed</li>
                        <li><i class="fa fa-angle-right"></i>Ready for full-time employment</li>
                        
                    </ul>
                    <p><b>Qualification</b></p>
                     <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i>Minimum of OND</li>
                        <li><i class="fa fa-angle-right"></i>At least one year working experience in related field</li>
                        <li><i class="fa fa-angle-right"></i>HSE certificates and any other professional certificate in management will be an added advantage.</li>
                        <li><i class="fa fa-angle-right"></i>Knowledge of contract biding and contract packaging will be an added advantage</li>
                        
                    </ul>
                    <h3>Accountant (Port Harcourt)</h3>
                    
                    <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i>Very experienced in accounting job</li>
                        <li><i class="fa fa-angle-right"></i>Ability to use computer applications</li>
                        
                    </ul>
                    <p><b>Qualification</b></p>
                    <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i>Minimum of HND</li>
                        <li><i class="fa fa-angle-right"></i>At least 2 years working experience as an accountant</li>
                        
                    </ul>
                    <h3>Part-Time/Contract Trainers (Lagos)</h3>
                    
                    <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i> Excellent oral and communication skill</li>
                        <li><i class="fa fa-angle-right"></i>Sound ability and qualification to train HSE courses, Oil & Gas courses and Management courses</li>
                        <li><i class="fa fa-angle-right"></i>Ready to be called upon each time we need your service in training</li>
                        <li><i class="fa fa-angle-right"></i>Ready to travel to our offices and training facilities round the country</li>
                        
                    </ul>
                    <p><b>Qualification</b></p>
                    <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i>HND or BSC</li>
                        <li><i class="fa fa-angle-right"></i>At least two year working experience in relevant industries</li>
                        <li><i class="fa fa-angle-right"></i>MUST possess a recognized certificate from accredited institute relevant to train any of the courses we offer</li>
                    </ul>
                    <h3>Note</h3>
                    <ul class="clearfix">
                        
                        <li><i class="fa fa-angle-right"></i>Applicant must include a cover letter, in the cover letter, endeavour to direct your application to the particular position of your interest and office location.</li>
                        <li><i class="fa fa-angle-right"></i>The subject of your email must contain the job position you are applying for and office location</li>
                        <li><i class="fa fa-angle-right"></i>Those applying for  Part-Time/Contract Trainers should included the list of courses they can train in their cover letter</li>
                    </ul>
                    <div style="margin-bottom: 30px">
                      <a href="career/applicant/apply"><button class="btn btn-info">Your CV Here</button></a>
                  
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch3">Search</label>
                                <input type="text" class="form-control" id="textsearch3" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                <div class="car-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="img/about/about-2.png" class="img-preview img-responsive" alt="about-2">
                                </div>
                                <div class="item active left">
                                    <img src="img/about/about-3.png" class="img-preview img-responsive" alt="about-3">
                                </div>
                                <div class="item next left">
                                    <img src="img/about/about-1.png" class="img-preview img-responsive" alt="about-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div ng-repeat="cr in cd.recent">
                                <div class="footer-item recent-posts " style="
                                     border: 1px solid lightgray;
                                     box-shadow: 0 0 5px lightgray;
                                     margin-top: 30px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href >{{cr.title}}</a>
                                            </h3>
                                            <p>{{cr.start}}</p>
                                            <div class="comments-icon">
                                                <i class="fa fa-comments"></i>{{cr.comment}}
                                            </div>
                                        </div>
                                    </div> 
                                    <!--                                <div recent-course cr="c"></div>-->


                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- About Institute end -->







