<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Course Details</h1>
                <ul class="breadcrumbs">
                    <li><a href >Training</a></li>
                    <li class="active">HSE (Safety Courses)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sub Banner end -->
<!-- About Institute start -->
<div class="about-institute">
    <div class="container">
        <div class="row">          
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3>Basic Fire Fighting</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>288 Aba Road, Port Harcourt
                        </p>
                    </div>
                    <div class="pull-right">
                        <h3><span>Item Rating</span></h3>
                        <ul class="rating">
                            <li>
                                <i class="fa fa-star-half-full"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Heading courses end -->
                <div class="about-text">
                    <!-- title -->
                    

                    <!-- paragraph -->
                    <h3>Overview</h3>
                    <p> <b>Course Objectives:</b></p>

                    <p>
                        Fire safety course focuses on the need to respond swiftly and safely to a fire case, the skill is required by personnel working in any industry including homes. It is designed to give a basic level of competency in fire fighting and comprehensive knowledge of how to use basic fire fighting equipment to fight and control fire should in case it occurs.This training is paramount in the oil and gas industry. 
                    </p>
                    <p><b>Training and Learning Methods:</b></p>
                    <p>
                        Training will be delivered in our offices and training facilities by our staff of highly trained and seasoned certified safety professionals with proven experience in training and consultancy practices.

                        This course consist of theory and practical section using fire fighting equipments on live fires
                    </p>
                    <p><b>Assessment Methods:</b></p>
                    <p>
                      Examination will be written under clocked supervised conditions. Continues assessment will be taken during the training

                    </p>
                    <p><b>Course Duration:</b></p>
                    <p>1 Days</p>
                    <p><b>Minimum Entry Requirement:</b></p>
                    <p>SSCE and other above educational qualifications.</p>
                    <p><b>Certification:</b></p>
                    <p>
                        Internationally recognized Basic Fire Fighting certificate will be issued at the end of training and assessment
                    </p>
                    <h3>Course Outlines</h3>
                    <p><b>The course syllabus consists of 21 topics (sub-courses):</b></p>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>Actions to be taken in the event of a fire</li>
                        <li><i class="fa fa-angle-right"></i>Classes of fire</li>
                        <li><i class="fa fa-angle-right"></i>General good housekeeping</li>
                        <li><i class="fa fa-angle-right"></i>Methods of fire spread </li>
                        <li><i class="fa fa-angle-right"></i>Practical use of fire fighting equipment </li>
                        <li><i class="fa fa-angle-right"></i>The theory of combustion</li>
                        <li><i class="fa fa-angle-right"></i>Types of extinguishers</li>
                        
                    </ul>
                    <h3>For Whom</h3>
                    <p>All personnel working in any industry and sector of economy
                    </p>
                    <h3>Promotion</h3>
                    <p> No promotion available at the moment
                    <h3>Payment</h3>
                    <p>To book for this course, simply click on the registration button, complete the form and submit, then proceed to make payment using the following bank account details; ( ATM and internet bank transfer are all acceptable)</p>
                    
                    <p>Account Name:<b> DESLOG ENERGY SERVICES LTD.</b></p>
                    <p>GTBank:<b>0163854798</b></p>
                    <p>Diamond Bank:<b>0052807207</b></p>
                    <p>FCMB:<b>3656381010</b></p>
                    <p>After payment kindly come to the training venue with a copy of the bank deposit slip as proof of payment and also to obtain the original copy of your payment receipt </p>
                    <p>You can also visit us at No.2 Sanyaolu street Oregun Ikeja Lagos or No. 321 PH/Aba Expressway (toward MTN) Rumuokwurusi Port Harcourt to pay cash and register manually.</p>
                    <p>Note: your registration becomes active as soon as your payment is confirmed. We maintain first come first serve procedure in seat reservation. </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch3">Search</label>
                                <input type="text" class="form-control" id="textsearch3" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                <div class="car-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="img/about/about-2.png" class="img-preview img-responsive" alt="about-2">
                                </div>
                                <div class="item active left">
                                    <img src="img/about/about-3.png" class="img-preview img-responsive" alt="about-3">
                                </div>
                                <div class="item next left">
                                    <img src="img/about/about-1.png" class="img-preview img-responsive" alt="about-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div ng-repeat="cr in cd.recent">
                                <div class="footer-item recent-posts " style="
                                     border: 1px solid lightgray;
                                     box-shadow: 0 0 5px lightgray;
                                     margin-top: 30px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href >{{cr.title}}</a>
                                            </h3>
                                            <p>{{cr.start}}</p>
                                            <div class="comments-icon">
                                                <i class="fa fa-comments"></i>{{cr.comment}}
                                            </div>
                                        </div>
                                    </div> 
                                    <!--                                <div recent-course cr="c"></div>-->


                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- About Institute end -->






