<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Course Details</h1>
                <ul class="breadcrumbs">
                    <li><a href="">Training</a></li>
                    <li class="active">HSE </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sub Banner end -->
<!-- About Institute start -->
<div class="about-institute">
    <div class="container">
        <div class="row">          
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3>HSE Level 1, 2, & 3 (WSO)</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>288 Aba Road, Port Harcourt
                        </p>
                    </div>
                    <div class="pull-right">
                        <h3><span>Item Rating</span></h3>
                        <ul class="rating">
                            <li>
                                <i class="fa fa-star-half-full"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Heading courses end -->
                <div class="about-text">
                    <!-- title -->
                    

                    <!-- paragraph -->
                    <h3>Overview</h3>
                    <p> <b>Course Objectives:</b></p>

                    <p>
                        Every year, thousands of employees die, severely injured or suffer illnesses directly or indirectly associated with their work. This indicates the importance of effective HSE training for all employees within any organization at their different levels. 

                        Health Safety and Environment (HSE) level 1, 2 & 3 course has been designed by World Safety Organization (WSO) to train our student on HSE foundation level, Appreciation level and Supervision level.

                        The benefits of this training is numerous including but not limited; showing concern to safety and health of employee, compliance with national and international legal requirements, improving staff morale, reducing or completely removing the financial implications of accidents and in turn increasing overall production and economic profits for the organization 
                    </p>
                    <p><b>Training and Learning Methods:</b></p>
                    <p>
                        Training will be delivered in our offices and training centers by our staff of highly trained and seasoned certified safety professionals with proven experience in training and consultancy practices.

                        This course is a mix of theory and practical demonstration.
                    </p>
                    <p><b>Assessment Methods:</b></p>
                    <p>
                        Examination will be written under clocked supervised conditions. Daily continues assessment will be taken during the training
                    </p>
                    <p><b>Course Duration:</b></p>
                    <p>5 Days</p>
                    <p><b>Minimum Entry Requirement:</b></p>
                    <p>OND, HND, Bsc. and other above educational qualifications.</p>
                    <p><b>Certification:</b></p>
                    <p>
                        Internationally recognized HSE level 1, 2 & 3 certificate will be issued at the end of the training and examination by World Safety Organization (WSO), USA.
                    </p>
                    <h3>Course Outlines</h3>
                    <p><b>The course syllabus consists of 21 topics (sub-courses):</b></p>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>Introduction to HSE</li>
                        <li><i class="fa fa-angle-right"></i>Communication in HSE</li>
                        <li><i class="fa fa-angle-right"></i>The Nigerian Health and Safety Laws, legislation & policies</li>
                        <li><i class="fa fa-angle-right"></i>Contingency /Emergency Response Procedures</li>
                        <li><i class="fa fa-angle-right"></i>Personal Protective Equipment (PPE)</li>
                        <li><i class="fa fa-angle-right"></i>Confined Space</li>
                        <li><i class="fa fa-angle-right"></i>Security Awareness In HSE</li>
                        <li><i class="fa fa-angle-right"></i>Principles & Practice Of First Aid</li>
                        <li><i class="fa fa-angle-right"></i>Journey Management/Defensive Driving</li>
                        <li><i class="fa fa-angle-right"></i>Accident Investigation & Reporting</li>
                        <li><i class="fa fa-angle-right"></i>HSE - MS </li>
                        <li><i class="fa fa-angle-right"></i>Permit to Work System</li>
                        <li><i class="fa fa-angle-right"></i>Good House Keeping</li>
                        <li><i class="fa fa-angle-right"></i>Unsafe Act Auditing</li>
                        <li><i class="fa fa-angle-right"></i>Community Affairs In HSE</li>
                        <li><i class="fa fa-angle-right"></i>Electrical Safety</li>
                        <li><i class="fa fa-angle-right"></i>Occupational Health & Hygiene</li>
                        <li><i class="fa fa-angle-right"></i>Job hazard Analysis</li>
                        <li><i class="fa fa-angle-right"></i>Essential duties of a Safety Officer</li>
                        <li><i class="fa fa-angle-right"></i>Fire Prevention and Protection</li>
                        <li><i class="fa fa-angle-right"></i>Environmental Awareness</li>
                        <li><i class="fa fa-angle-right"></i>HEMP</li>
                        
                    </ul>
                    <h3>For Whom</h3>
                    <p>All personnel working in any industry and sector of economy

Graduates who wants to start a career in the oil and gas, construction, power and other related industries

Job seekers who wants to increase their chances of employment by acquiring recognized HSE certification that is accepted anywhere in the world

NYCS member who want to start on time to acquire relevant certificates that will increase his/her chances of securing jobs immediately after service year
                    </p>
                    <h3>Promotion</h3>
                    <p>No promotion available at the moment</p>
                    
                    <h3>Payment</h3>
                    <p>To book for this course, simply click on the registration button, complete the form and submit, then proceed to make payment using the following bank account details; ( ATM and internet bank transfer are all acceptable)</p>
                    
                    <p>Account Name:<b> DESLOG ENERGY SERVICES LTD.</b></p>
                    <p>GTBank:<b>0163854798</b></p>
                    <p>Diamond Bank:<b>0052807207</b></p>
                    <p>FCMB:<b>3656381010</b></p>
                    <p>After payment kindly come to the training venue with a copy of the bank deposit slip as proof of payment and also to obtain the original copy of your payment receipt </p>
                    <p>You can also visit us at No.2 Sanyaolu street Oregun Ikeja Lagos or No. 321 PH/Aba Expressway (toward MTN) Rumuokwurusi Port Harcourt to pay cash and register manually.</p>
                    <p>Note: your registration becomes active as soon as your payment is confirmed. We maintain first come first serve procedure in seat reservation. </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch3">Search</label>
                                <input type="text" class="form-control" id="textsearch3" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                <div class="car-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="img/about/about-2.png" class="img-preview img-responsive" alt="about-2">
                                </div>
                                <div class="item active left">
                                    <img src="img/about/about-3.png" class="img-preview img-responsive" alt="about-3">
                                </div>
                                <div class="item next left">
                                    <img src="img/about/about-1.png" class="img-preview img-responsive" alt="about-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div ng-repeat="cr in cd.recent">
                                <div class="footer-item recent-posts " style="
                                     border: 1px solid lightgray;
                                     box-shadow: 0 0 5px lightgray;
                                     margin-top: 30px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href >{{cr.title}}</a>
                                            </h3>
                                            <p>{{cr.start}}</p>
                                            <div class="comments-icon">
                                                <i class="fa fa-comments"></i>{{cr.comment}}
                                            </div>
                                        </div>
                                    </div> 
                                    <!--                                <div recent-course cr="c"></div>-->


                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- About Institute end -->






