<!-- Content area start -->
<div class="content-area" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Main title -->
                        <div class="main-title">
                            <h1><span>Login</span></h1>
                        </div>
                        <!-- Form start -->
                        <form name="myform"  novalidate>
                            <div class="textintro">
                            <p>Log-in to access your Profile</p>
                            <p class="message" style="color: red"  ng-show="message"> {{ message }} <span>
                            
                        </span></p></div>
                            
                            <div class="form-group">
                                <input type="email" name="email" class="input-text" placeholder="Email"
                                        ng-model="user.email" ng-required="true">
                                <p class="error validationerror"
                                ng-show="myform.email.$invalid && myform.email.$touched">
                                Must be a valid email</p>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="input-text" placeholder="Password"
      ng-model="user.password" ng-required="true">
                                <p class="error validationerror" ng-show="myform.password.$invalid && myform.email.$touched">Password is required</p>
                            </div>
                            <div class="checkbox">
                                <div class="ez-checkbox pull-left">
                                    <label>
                                        <input type="checkbox" class="ez-hide">
                                        Remember me
                                    </label>
                                </div>
                                <a href  class="link-not-important pull-right">Forgot Password</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" ng-if="! status" ng-click="doLogin(user)" class="button-md button-theme btn-block" ng-disabled="myform.$invalid" >login</button>
                                <button style="background: #FFF"  ng-if="status" class="button-md button-theme btn-block" ng-disabled="myform.$invalid" ><img class="spinner" src="img/loader_1.gif"/></button>
                                
                            </div>
                        </form>
                        <!-- Form end -->
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>
                            New to Deslog Energy? <a ng-href="#/register">Sign up now</a>
                        </span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Content area end -->