<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>NYSC Post Camp Training</h1>
                <ul class="breadcrumbs">
                    <li><a href="">NYSC Post Camp Training</a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sub Banner end -->
<!-- About Institute start -->
<div class="about-institute">
    <div class="container">
        <div class="row">          
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3>NYSC SAED Partner ID: 17/C/3987</h3>

                    </div>

                </div>
                <!-- Heading courses end -->
                <div class="about-text">
                    <div class="car-detail-slider simple-slider">
                        <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                            <div class="carousel-outer">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="img/about/corp.jpeg" class="img-preview img-responsive" alt="about-2">
                                    </div>
                                    <div class="item active left">
                                        <img src="img/about/about-3.png" class="img-preview img-responsive" alt="about-3">
                                    </div>
                                    <div class="item next left">
                                        <img src="img/about/about-1.png" class="img-preview img-responsive" alt="about-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <p>
                        Deslog Energy Services Limited is partnering with NYSC SAED and international organizations such as World Safety Organization (USA), Chartered Institute of Supply Chain Management (USA), Chartered Instittute of Project Management (Ghana) and Chartered Institute of Warehousing & Materials Management (Nigeria) to train and certify serving corps member in HSE courses, Oil & Gas courses and Management courses that will advance their career and guarantee their chances of employment immediately after their service year.
                    </p>
                    <p>
                        As an indigenous company we have taken youth competency development and employment as part of our social responsibilities to groom these young graduates for labour market strive and make them more employable since our school system cannot provide them with enough industry required skills and competency.
                    </p>
                    <p>
                        To achieve this, we at Deslog Energy Services Limited have designed a special discount training scheme targeted at Youth Corps Members whom we desire to provide with the opportunity to participate early in their career at a token contribution in some of the internationally accredited certification courses. These are courses that we have been authorized to deliver.
                    </p>
                    <p><b>Objective of This Scheme</b></p>
                    <p>
                        The objective of this scheme is to train and produce professionals and competent workforce that will be employable in all sectors of the economy at a highly subsidized cost. In this program, participants will be allowed to select up to three (3) different courses of their choice from the list of courses provided and pay a subsidized fixed amount. Participants can as well decide to train only one or two courses and pay corper's discounted fee as shown in the table bellow.
                    </p>
                    <p>
                        Participants can choose to train any of the listed courses at corper's discounted price as shown above or choose Three (3) courses from the list of courses provided above and pay only ₦40,000. No hidden charges. Payment covers: Training, course material, and certifications. Don't miss this wonderful opportunity presented to you.
                    </p>

                    <a href="#training/generalcoursegrid"><button class="btn btn-info">Pick your Courses</button></a>
                    
                    <br>
                    <p><b>Why you should train with us</b></p>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>A conducive training environment</li>
                        <li><i class="fa fa-angle-right"></i>Qualified Instructor with several years of field experience</li>
                        <li><i class="fa fa-angle-right"></i>Practical classes</li>
                        <li><i class="fa fa-angle-right"></i>Interactive learning methods</li>
                        <li><i class="fa fa-angle-right"></i>Free Training material</li>
                        <li><i class="fa fa-angle-right"></i> Highly subsidized but quality Training</li>
                        <li><i class="fa fa-angle-right"></i> Internationally recognized Certificates will be issued by World Safety Organization (WSO) USA and other certifying bodies at the successful completion</li>
                        <li><i class="fa fa-angle-right"></i> Free training on CV packaging to all participants</li>
                        <li><i class="fa fa-angle-right"></i>Only N12,500 to register you as a professional member of World Safety Organization (WSO) against the original fee of 55USD </li>
                        <li><i class="fa fa-angle-right"></i>Free registration into our Jobconnect platform, the platform to meet and network with professionals in the industry for greater opportunities</li>
                        <li><i class="fa fa-angle-right"></i>Free career counseling offered by our top consultants</li>                     
                    </ul>

                    <p><b>Training and Learning Methods:</b></p>
                    <p>
                        Training will be delivered in our offices and training centers by our staff of highly trained and seasoned certified safety professionals with proven experience in training and consultancy practices.

                        This course is a mix of theory and practical demonstration.
                    </p>
                    <p><b>Assessment Methods:</b></p>
                    <p>
                        Examination will be written under clocked supervised conditions. Daily continues assessment will be taken during the training
                    </p>
                    <p><b>Course Duration:</b></p>
                    <p>Variable</p>
                    <p><b>Minimum Entry Requirement:</b></p>
                    <p>OND, HND, Bsc. and other above educational qualifications.</p>

                    <p><b>Certification:</b></p>
                    <p>
                        At the end of the training, participants will be issued internationally recognized certificates that is acceptable anywhere in the world including Nigeria.
                    </p>
                    <a href="#/training/generalcoursegrid"><button class="btn btn-info">View Certificate Sample</button></a>
                    <br>

                    <h3>For Whom</h3>
                    <ul class="clearfix">
                        <li><i class="fa fa-angle-right"></i>All graduates  (irrespective of the discipline)</li>
                        <li><i class="fa fa-angle-right"></i>Every graduate seeking a certification to secure employment into the oil and gas industry, construction, marine, manufacturing, banking, IT and other related industries</li>
                        <li><i class="fa fa-angle-right"></i>Every corps member that needs professional counseling</li>
                        <li><i class="fa fa-angle-right"></i>Graduates/corps members (B. Eng, BA, B. Tec, Bsc, HND etc.) holders, those that want to work or working in Oil & Gas Offshore & Onshore, Engineering companies, Manufacturing, Marine & Logistics, IT companies, Hospitals & Health Outfit, Law firm, Government agencies School and Hotels, those that wants to build career in HSE management and other professional fields</li>
                        <li><i class="fa fa-angle-right"></i>NYSC serving corps members who wish to advance his/her career with relevant professional courses that will definitely guarantee them jobs after service year</li>

                    </ul>
                    <!--                    <h3>Promotion</h3>
                                        <p>
                                            We are currently offering massive discount on this course as an appreciation to our esteem clients for the Easter celebration. offer valid from 1st - 31st March 2016. Don't miss this wonderful opportunity! 
                                        </p>-->

                    <h3>Payment</h3>

                    <p>
                        Participants will be allowed to pay up to three (3) times installment within 3 months interval and payment must be completed before certificate will be issued and before the end of their service year.
                    </p>

                    <p>Account Name:<b> DESLOG ENERGY SERVICES LTD.</b></p>
                    <p>GTBank:<b>0163854798</b></p>
                    <p>Diamond Bank:<b>0052807207</b></p>
                    <p>FCMB:<b>3656381010</b></p>
                    <p>After payment kindly come to the training venue with a copy of the bank deposit slip as proof of payment and also to obtain the original copy of your payment receipt </p>
                    <p>You can also visit us at No.2 Sanyaolu street Oregun Ikeja Lagos or No. 321 PH/Aba Expressway (toward MTN) Rumuokwurusi Port Harcourt to pay cash and register manually.</p>
                    <p>Note: your registration becomes active as soon as your payment is confirmed. We maintain first come first serve procedure in seat reservation. </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch3">Search</label>
                                <input type="text" class="form-control" id="textsearch3" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="heading-courses  clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3 style="font-size: 16px">Notice</h3>
                        <p>
                            We are currently looking for serving corps members who will represent us in the LGA levels of every state. Call 08038787766 for more details if you desire to be our coordinator in the local government you are serving.
                        </p>

                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div ng-repeat="cr in cd.recent">
                                <div class="footer-item recent-posts " style="
                                     border: 1px solid lightgray;
                                     box-shadow: 0 0 5px lightgray;
                                     margin-top: 30px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" ng-src="{{cr.image}}" alt="sidebar-1">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href >{{cr.title}}</a>
                                            </h3>
                                            <p>{{cr.start}}</p>
                                            <div class="comments-icon">
                                                <i class="fa fa-comments"></i>{{cr.comment}}
                                            </div>
                                        </div>
                                    </div> 
                                    <!--                                <div recent-course cr="c"></div>-->


                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Institute end -->






